@section header_content
{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Data Anggota</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Category | @TempData["StatusSave"]</li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="container-fluid">
    <div class="card card-outline card-success">
        <div class="card-header">
            <a asp-controller="Anggota" asp-action="AddAnggotaForm" class="btn btn-success">
                <i class="fa fa-plus"></i> Tambah Data
            </a> |
            <a asp-controller="Anggota" asp-action="AddMultipleAnggotaForm" class="btn btn-primary">
                <i class="fa fa-plus"></i> Tambah Data Multiple
            </a>
        </div>
        <div class="card-body">
            <table id="example1" class="table table-striped">
                <thead>
                    <tr class="font-weight-bold">
                        <td>#</td>
                        <td>Id Anggota</td>
                        <td>Nama Anggota</td>
                        <td>Jenis Kelamin</td>
                        <td>Alamat</td>
                        <td style="width: 10%">Aksi</td>
                    </tr>
                </thead>
                <tbody>
                    <partial name="_TableData" />
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="editModal">
    <partial name="EditModal" />
</div>

@section Scripts
{
    <script>
        $(function () {
            $("#bootstrap-data-table2").DataTable();
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["excel", "pdf"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            //Validasi SweetAlert [START]
            var nilai = @TempData["StatusSave"];
            var urlHome = '@Url.Action("Index", "Anggota")';
            let infoStatus = false;
            let messageInfo = "";
            if (nilai == 1) {
                messageInfo = "Data Berhasil di Simpan";
                infoStatus = true;
            } else if (nilai == 2) {
                messageInfo = "Data Berhasil di Update";
                infoStatus = true;
            } else if (nilai == 3) {
                messageInfo = "Data Berhasil di Hapus";
                infoStatus = true;
            }
            if (infoStatus) {
                Swal.fire({
                    icon: 'success',
                    title: messageInfo,
                    showConfirmButton: false,
                    timer: 1500
                })
                setTimeout(function () {
                    window.location.replace(urlHome);
                }, 1700);
            }
            //Validasi SweetAlert [END]

            $(".btn-edit").on('click', function () {
                var currentRow = $(this).closest("tr");
                var dataIdAnggota = currentRow.find("td:eq(1)").html();
                var dataNama = currentRow.find("td:eq(2)").html();
                var dataJenisKelamin = currentRow.find("td:eq(3)").html();
                var dataAlamat = currentRow.find("td:eq(4)").html();
                var dataId = $(this).attr("data-id");
                $("#id_anggota").val(dataIdAnggota);
                $("#nama").val(dataNama);
                $("#jenis_kelamin").val(dataJenisKelamin);
                $("#alamat").val(dataAlamat);
                $("#id").val(dataId);
            });

            $('.btn-delete').on('click', function (e) {
                var dataId = $(this).attr("data-id");
                var formData = new FormData();
                console.log(dataId);
                formData.append("id", dataId);
                var url = '@Url.Action("DeleteAnggotaForm", "Anggota")';
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: {
                                id : dataId
                            },
                            success: function (result) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Data Berhasil di Hapus',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            },
                            error: function (status, ex) {
                                alert("Error Code: Status: " + status + " Ex: " + ex);
                            }
                        });
                    }
                });
            });

        //Last Line
        });
    </script>
}